<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ConexaoBD" connectionString="server=35.193.155.168;user id=admin;password=1022890244Gui;persistsecurityinfo=True;database=dbpasswordsbook"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>